@model Young_Artists.Models.Company

@{
    ViewData["Title"] = "Create";
}



<div class="pagetitle">
    <h1>新增廠商</h1>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
            </div><!-- End Page Title -->

<h4>輸入廠商資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" required />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" required />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhone" class="control-label"></label>
                <input asp-for="CompanyPhone" class="form-control" type="tel" required />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label"></label>
                <input asp-for="CompanyAddress" class="form-control" required />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyEmail" class="control-label"></label>
                <input asp-for="CompanyEmail" class="form-control" type="email" required />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyOnline" class="control-label"></label>
                <select class="form-select" aria-label="Default select example" name="CompanyOnline">
                    <option value="true">正常</option>
                    <option value="false">停用</option>
                </select>
                <span asp-validation-for="CompanyOnline" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <input type="submit" value="新增" class="btn btn-primary my-3" />
                   <a asp-action="List" class="btn btn-secondary my-3">取消</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
