@model Young_Artists.Models.TicketOrderDetail

@{
	ViewData["Title"] = "Edit_Detail";
	string OrderId = ViewBag.OrderId;
}

<div class="d-flex justify-content-center">
	<div class="col-9">
		<div class="pagetitle">
			<h1>編輯票資訊</h1>
		</div>
		<h4></h4>
		<section>

			<div class="card col-12">
				<div class="card-body">
					<div class="my-2 pagetitle">
						<b class="card-title">請輸入更新資訊</b>
					</div>
					<hr />
					<div class="row">
						<div class="col-12">
							<form asp-action="Edit_Detail">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>

								<div class="form-group mt-2 mb-3">
									<label asp-for="EventId" class="control-label"></label>
									<div>
										<select name="EventId">
											@{
												foreach (var item in ViewBag.EventId)
												{
													<option value="@item">@item</option>
												}
											}
										</select>
									</div>
									<span asp-validation-for="EventId" class="text-danger"></span>
								</div>
								<div class="form-group mb-3">
									<label asp-for="Area" class="control-label"></label>
									<div>
										<select name="Area">
											@{
												foreach (var item in ViewBag.Area)
												{
													<option value="@item">@item</option>
												}
											}
										</select>
									</div>
									<span asp-validation-for="Area" class="text-danger"></span>
								</div>
								<div class="form-group mb-5">
									<label asp-for="SeatId" class="control-label"></label>
									<input asp-for="SeatId" class="form-control" />
									<span asp-validation-for="SeatId" class="text-danger"></span>
								</div>

								<div class="form-group d-flex justify-content-end">
									<div class="col-auto">
										<input type="submit" value="修改" class="btn btn-primary" />
										@{
											<a href="~/TicketOrder/List_Detail/@OrderId" class="btn btn-secondary my-3">取消</a>
										}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
