@model Young_Artists.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerEmail" class="control-label"></label>
                <input asp-for="CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPassword" class="control-label"></label>
                <input asp-for="CustomerPassword" class="form-control" />
                <span asp-validation-for="CustomerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerRegion" class="control-label"></label>
                <input asp-for="CustomerRegion" class="form-control" />
                <span asp-validation-for="CustomerRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerBirthDate" class="control-label"></label>
                <input asp-for="CustomerBirthDate" class="form-control" />
                <span asp-validation-for="CustomerBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerGender" class="control-label"></label>
                <input asp-for="CustomerGender" class="form-control" />
                <span asp-validation-for="CustomerGender" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CustomerCreatTimestamp" class="control-label"></label>
                <input asp-for="CustomerCreatTimestamp" class="form-control" />
                <span asp-validation-for="CustomerCreatTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerUpdateTimestamp" class="control-label"></label>
                <input asp-for="CustomerUpdateTimestamp" class="form-control" />
                <span asp-validation-for="CustomerUpdateTimestamp" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
