@*@model Young_Artists.ViewModel.CCommodityViewModel*@
@model Young_Artists.Models.Commodity
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Commodity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden></label>
                <span asp-validation-for="CommodityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommodityName" class="control-label"></label>
                <input asp-for="CommodityName" class="form-control" />
                <span asp-validation-for="CommodityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommodityNarrative" class="control-label"></label>
                <input asp-for="CommodityNarrative" class="form-control" />
                <span asp-validation-for="CommodityNarrative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommodityNum" class="control-label"></label>
                <input asp-for="CommodityNum" class="form-control" />
                <span asp-validation-for="CommodityNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommodityPrice" class="control-label"></label>
                <input asp-for="CommodityPrice" class="form-control" />
                <span asp-validation-for="CommodityPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">產品照片</label>
                <input type="file" class="form-control" name="photo"/>
            </div>
            <div class="form-group">
                <label asp-for="CommodityClassification" class="control-label"></label>
                <input asp-for="CommodityClassification" class="form-control" />
                <span asp-validation-for="CommodityClassification" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CommodityState" class="control-label"></label>
                <input asp-for="CommodityState" class="form-control" />
                <span asp-validation-for="CommodityState" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
