@model Young_Artists.Models.SeatStock

@{
	ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center">
	<div class="col-9">
		<div class="pagetitle">
			<h1>新增座位庫存資訊</h1>
		</div>

		<section>

			<div class="card col-12">
				<div class="card-body">
					<div class="my-2 pagetitle">
						<b class="card-title">請輸入新增資訊</b>
					</div>
					<hr />
					<div class="row">
						<div class="col-12">
							<form asp-action="Create">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>

								<div class="form-group mb-3">
									<label asp-for="EventId" class="control-label"></label>
									<div>
										<select name="EventId">
											@{
												foreach (var item in ViewBag.EventId)
												{
													<option value="@item">@item</option>
												}
											}
										</select>
									</div>
									<span asp-validation-for="EventId" class="text-danger"></span>
								</div> 
								<div class="form-group mb-3">
									<label asp-for="Area" class="control-label"></label>
									<input asp-for="Area" class="form-control" />
									<span asp-validation-for="Area" class="text-danger"></span>
								</div>
								<div class="form-group mb-3">
									<label asp-for="Quantity" class="control-label"></label>
									<input asp-for="Quantity" class="form-control" />
									<span asp-validation-for="Quantity" class="text-danger"></span>
								</div>

								<div class="form-group mb-3">
									<label asp-for="Price" class="control-label"></label>
									<input asp-for="Price" class="form-control" />
									<span asp-validation-for="Price" class="text-danger"></span>
								</div>
								<div class="form-group mb-5">
									<label asp-for="IsAvailable" class="control-label"></label>
									<div>
										<select name="IsAvailable">
											<option value="true">上架</option>
											<option value="false">下架</option>
										</select>
									</div>
									<span asp-validation-for="IsAvailable" class="text-danger"></span>
								</div>
								<div class="form-group d-flex justify-content-end">
									<div class="col-auto">
										<input type="submit" value="新增" class="btn btn-primary" />
										<a asp-action="List" class="btn btn-secondary my-3">取消</a>

									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
					}
