@model Young_Artists.Models.EventType

@{
    ViewData["Title"] = "Edit";
}
<div class="pagetitle">
    <h1>編輯活動種類</h1>
    <div class="my-4 pagetitle">
        <b class="card-title">請輸入更新資訊</b>
    </div>
</div>
<hr />
<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="EventTypeId" class="form-control" hidden />
                <div class="form-group">
                    <label asp-for="EventTypeName" class="control-label">活動種類名稱</label>
                    <input asp-for="EventTypeName" class="form-control" />
                    <span asp-validation-for="EventTypeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="修改" class="btn btn-primary my-3" />
                    <a asp-action="List" class="btn btn-secondary my-3">取消</a>
                </div>
            </form>
        </div>
    </div>
</section>
    

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
