@model Young_Artists.Models.Detail

@{
    ViewData["Title"] = "Create";
}

<h1>新增異動公告一覽</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="DetailsId" class="control-label"></label>
                <input asp-for="DetailsId" class="form-control" />
                <span asp-validation-for="DetailsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eventtime" class="control-label"></label>
                <input asp-for="Eventtime" class="form-control" type="date" />
                <span asp-validation-for="Eventtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <textarea asp-for="Reason" class="form-control" rows="6" cols="20"></textarea>
                @*                <input asp-for="Reason" class="form-control" />
                *@                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <input type="submit" value="新增" class="btn btn-primary my-3" />
                  <a asp-action="List" class="btn btn-secondary my-3">取消</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
