@model Young_Artists.Models.OrderForm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NumberId" class="control-label"></label>
                <input asp-for="NumberId" class="form-control" />
                <span asp-validation-for="NumberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommodityId" class="control-label"></label>
                <input asp-for="CommodityId" class="form-control" />
                <span asp-validation-for="CommodityId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="OrderTime" class="control-label"></label>
                <input asp-for="OrderTime" class="form-control" />
                <span asp-validation-for="OrderTime" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="QuantityOrder" class="control-label"></label>
                <input asp-for="QuantityOrder" class="form-control" />
                <span asp-validation-for="QuantityOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsState" class="control-label"></label>
                <input asp-for="IsState" class="form-control" />
                <span asp-validation-for="IsState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
