@model Young_Artists.Models.Detail

@{
    ViewData["Title"] = "Edit";
}

<h1>修改異動公告</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="DetailsId" class="control-label"></label>
                <input asp-for="DetailsId" class="form-control" />
                <span asp-validation-for="DetailsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eventtime" class="control-label"></label>
                <input asp-for="Eventtime" class="form-control" />
                <span asp-validation-for="Eventtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <textarea asp-for="Reason" class="form-control" rows="6" cols="40"></textarea>
                <div class="form-group">
                    <input type="submit"  value="修改" class="btn btn-success" />
                    <a asp-action="List" class="btn btn-danger">返回</a>
                </div>        
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @*                <input asp-for="Reason" class="form-control" />
*@                <span asp-validation-for="Reason" class="text-danger"></span>
                    </div
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
