@model Young_Artists.Models.Administrator

@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">
    <h1 class="mb-3">新增管理員帳密</h1>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
            </div><!-- End Page Title -->
            <div class="card">
                <div class="card-body">

                    <div class="my-4 pagetitle">
                        <b class="card-title">請輸入管理員帳密</b>
                    </div>

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger row mb-3"></div>
                        <div class="form-group">
                            <label asp-for="AdministratorId" class="control-label" hidden></label>
                            <input asp-for="AdministratorId" class="form-control" hidden />
                            <span asp-validation-for="AdministratorId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdministratorAccount" class="control-label"></label>
                            <input asp-for="AdministratorAccount" class="form-control" />
                            <span asp-validation-for="AdministratorAccount" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="AdministratorPassword" class="control-label"></label>
                            <input asp-for="AdministratorPassword" class="form-control" />
                            <span asp-validation-for="AdministratorPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdministratorCreatTimestamp" class="control-label" hidden></label>
                            <input asp-for="AdministratorCreatTimestamp" class="form-control" hidden />
                            <span asp-validation-for="AdministratorCreatTimestamp" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdministratorUpdateTimestamp" class="control-label" hidden></label>
                            <input asp-for="AdministratorUpdateTimestamp" class="form-control" hidden />
                            <span asp-validation-for="AdministratorUpdateTimestamp" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="新增" class="btn btn-primary my-3" />
                            <a asp-action="List" class="btn btn-secondary my-3">取消</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
