@model Young_Artists.Models.TicketOrderDetail

@{
    ViewData["Title"] = "Edit_Detail";

}

<h1>票的資料修改</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit_Detail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <div>
                    <select name="EventId">
                        @{
                            foreach (var item in ViewBag.EventId)
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    </select>
                </div>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <div>
                    <select name="Area">
                        @{
                            foreach (var item in ViewBag.Area)
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    </select>
                </div>
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatId" class="control-label"></label>
                <input asp-for="SeatId" class="form-control" />
                <span asp-validation-for="SeatId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List_Detail">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
