@model IEnumerable<Young_Artists.Models.Event>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>炎上 王世堅</title>
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">*@

    <!--cdnjs font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-image: url("~/Images/背景.png");
        }

        /* top1 */
        .top1 {
            background-color: rgb(38, 40, 36);
        }

            .top1 > p {
                font-size: 28px;
                font-weight: 700;
            }

        /* top2 */
        .top2 {
            background-color: rgb(51, 53, 48);
        }

            .top2 > p {
                color: rgb(170, 170, 170);
            }

                .top2 > p > a {
                    color: rgb(129, 191, 50);
                }

                    .top2 > p > a:hover {
                        color: rgb(79, 148, 39);
                    }

        /* top3 */
        .top3 {
            background-color: white;
        }

            .top3 > p {
                color: black;
            }

                .top3 > p > a {
                    color: rgb(129, 191, 50);
                }

                    .top3 > p > a:hover {
                        color: rgb(79, 148, 39);
                    }

        /* 聯絡 */
        .contact_a {
            color: rgb(129, 191, 50);
        }

            .contact_a:hover {
                color: rgb(79, 148, 39);
            }

        /* 按鈕樣式 */
        .p_button_hover > button {
            color: rgb(129, 191, 50);
            box-shadow: rgb(238, 238, 238) 0 -2px 0 inset;
        }

            .p_button_hover > button:hover {
                color: rgb(79, 148, 39);
            }
    </style>

</head>

<body>
    <header>
        <div class="container mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-9 d-flex text-white p-4 top1">
                    <p class="m-0">炎上</p>
                    <p class="m-0 ms-3">王世堅</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-9  text-white ps-4 top2">
                    <p class="m-0 pt-3">
                        <i class="m-0 me-2 fa-solid fa-calendar-days"></i>2023/01/07(周六)
                        20:00(+0800)&nbsp;(<a class=" text-decoration-none " href="#">&nbsp;iCal/Outlook</a>,&nbsp;<a href="#" class=" text-decoration-none ">Google&nbsp;日曆&nbsp;</a>)
                    </p>
                    <p class="m-0 pb-3"><i class="fa-solid fa-location-dot me-2"></i>壹電視攝影棚/臺北市內湖區新湖二路146巷18號</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-7  text-white ps-4 top3">
                    <p class="m-0 py-3">
                        <i class="fa-sharp fa-solid fa-sitemap"></i>主辦單位&nbsp;<a class=" text-decoration-none " href="#">炎上股份有限公司</a>
                    </p>
                </div>
                <div class="col-2 text-white ps-4 top3   text-center"
                     style="line-height: 56px;font-size: 20px; font-weight: 700; background-color: rgb(129, 191, 50); box-shadow: #59ab21 0 -4px 0 inset;">
                    <a href="#" class=" text-decoration-none text-white">聯絡主辦單位</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container bg-black">
            <div class="row d-flex justify-content-center">
                <!-- 主視覺 -->
                <div class="col-9  d-flex justify-content-center mb-5">
                    <img src="~/Images/主視覺_KKTIX_1200_630.png" alt=""
                         class="w-100">
                </div>
                <!-- 第一段文字 -->
                <div class="col-9  text-center">
                    <p style="color: rgb(231, 30, 27); font-size: 22px; font-weight: 700;">眾星雲集 x 跨界幹譙</p>
                    <p style="color: rgb(231, 30, 27); font-size: 22px; font-weight: 700;">精緻下流 x 絕對冒犯</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white; font-weight: 700;">政壇扶龍王世堅</p>
                    <p style="color: white; font-weight: 700;">正面對決炎上大將軍及火伴的犀利質詢</p>
                    <p style="color: white; font-weight: 700;">經典問政攻防戰</p>
                    <p style="color: white; font-weight: 700;">將在《炎上 BURN》一觸即發！</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white; font-weight: 700;">政治人物只會作秀？沒錯！這次就作給你看！</p>
                    <p style="color: white; font-weight: 700;">現場聚集各方人馬，即將掀起一場政壇腥風血雨</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white; font-weight: 700;">《炎上 BURN》回歸</p>
                    <p style="color: white; font-weight: 700;">不留情面再探下限！</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white; font-weight: 700;">演出者全員不得要求事先審稿</p>
                    <p style="color: white; font-weight: 700;">允許脫稿！允許爆料！</p>
                    <p style="color: white; font-weight: 700;">全盤托出檯面下的惡形惡狀</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white; font-weight: 700;">史詩級質詢名場面</p>
                    <p style="color: white; font-weight: 700;">即將在炎上獨家演繹</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white; font-weight: 700;">【炎上　王世堅】</p>
                    <p style="color: white; font-weight: 700;">南北菜蟲，一起串連！</p>
                </div>
                <!-- 分隔線 -->
                <div class="col-9  text-center">
                    <img src="~/Images/頁面分割線.png" alt="" class="w-100">
                </div>
                <!-- 第二段文字 -->
                <div class="col-9  text-center">
                    <p style="color: white; font-weight: 700;">｜炎上大將軍｜</p>
                    <p style="color: white; font-weight: 700;">曾博恩</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white; font-weight: 700;">｜火伴｜</p>
                    <p style="color: white; font-weight: 700;">謝龍介、黃瀞瑩！</p>
                    <p style="color: white; font-weight: 700;">Asiaboy 禁藥王 & Lizi 栗子</p>
                    <p style="color: white; font-weight: 700;">凱莉、吳崢、賀瓏</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white; font-weight: 700;">｜客串演出｜</p>
                    <p style="color: white; font-weight: 700;">巴大雄、春艷</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p style="color: white;font-size: 20px; font-weight: 700;">【啟售時間】2022 / 12 / 21 (三) 12:00</p>
                    <p style="color: white;font-size: 20px; font-weight: 700;">【演出時間】2023 / 01 / 07 (六) 20:00</p>
                    <p style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>

                </div>
                <!-- 注意事項 -->
                <div class="col-9 ">
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">
                        ⚠️
                        演出期間不排除被水潑濕的可能性，VVIP圓桌特區觀眾請自備雨具/雨衣。
                    </p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">
                        ⚠️ 本演出無尺度限制，禁止 16
                        歲以下觀眾入場。家長如對內容有疑慮，敬請自行調適。
                    </p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">
                        ⚠️
                        本演出包含粗鄙低俗、成人內容、政治不正確，以及其他重口味笑話，敬請道德標準高尚之民眾不要參與。
                    </p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">
                        ⚠️
                        所有參與者都知情且同意互罵，請觀眾不要代替他們被冒犯。
                    </p>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                </div>
                <!-- 分隔線 -->
                <div class="col-9  text-center">
                    <img src="~/Images/頁面分割線.png" alt="" class="w-100">
                </div>
                <!-- 節目資訊 -->
                <div class="col-9">
                    <img src="~/Images/頁面小標_節目資訊.png" alt="" class="w-50">
                </div>
                <!-- 節目資訊文字 -->
                <div class="col-9 ">
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">
                        ✦ 啟售時間：2022 / 12 / 21 (三)
                        12:00 準時啟售
                    </p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">
                        ✦ 購票方式：KKTIX 及全台全家便利商店
                        FamiPort
                    </p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">
                        ✦ 演出時間：2023 / 01 / 07 (六)
                        20:00 開演<br>⤷ 18:30 前台活動(拍照區、現場攤位)開放、19:15 開放入場
                    </p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">✦ 演出地點：壹電視攝影棚</p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">✦ 演出地址：臺北市內湖區新湖二路146巷18號</p>
                    <p class="ms-3" style="color: white;font-size: 14px; font-weight: 700;">
                        ✦ 票　價：<br>VVIP 圓桌特區 4000 /
                        綠區 2800（全區對號入座）
                    </p>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                </div>
                <!-- 座位圖 -->
                <div class="col-9 justify-content-center">
                    <img src="~/Images/座位票圖_KKTIX3000_3000.png" alt="" class="w-100">
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                </div>
                <!-- 分隔線 -->
                <div class="col-9  text-center">
                    <img src="~/Images/頁面分割線.png" alt="" class="w-100">
                </div>
                <!-- 圓桌特區 -->
                <div class="col-9">
                    <img src="~/Images/頁面小標_VVIP注意事項.png" alt="" class="w-50">
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <div class=" text-center">
                        <p class="ms-3" style="color: rgb(231, 30, 27);font-size: 16px; font-weight: 900;">
                            ✦ Dress code
                            ✧<br>敬請著晚宴正裝出席。
                        </p>
                        <p class="ms-3" style="color: rgb(231, 30, 27);font-size: 16px; font-weight: 900;">
                            (Black tie
                            optional & Creative black tie)
                        </p>
                        <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    </div>
                </div>
                <div class="col-9 ">
                    <ul class="ms-4" style="font-size:14px ; color:white">
                        <li>若 VVIP 圓桌特區之賓客進場時未符合服儀規定，主辦單位有權將座位換至非圓桌座位席。<br>座位將視現場狀況而定，恕不退票價差額，且不得異議。</li>
                        <br>
                        <li>衣著顏色不拘，西裝外套，裙裝長度建議過膝。<br>請避免拖鞋、涼鞋、短褲、背心、牛仔褲和球鞋等。</li>
                        <br>
                        <li>VVIP 圓桌特區開放可售票座位數量有限，請以售票系統為準。</li>
                        <br>
                        <li>在演出開始前和過程中，您極有可能入鏡，專業攝影師亦將捕捉您的風采。</li>
                        <br>
                        <li>因 KKTIX 系統限制，此區系統選位顯示圖為矩形，實際座位為圓桌。</li>
                    </ul>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <ul class="ms-4 list-unstyled" style="font-size:14px ; color:white">
                        <li class="ms-4">
                            購買本區觀眾如遇疑問，歡迎來信&nbsp;<a class=" text-decoration-none contact_a"
                                                    href="#">contact@strnetwork.cc</a>&nbsp;並提供您的購票資訊以供核對。
                        </li>
                    </ul>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                </div>
                <!-- 分隔線 -->
                <div class="col-9  text-center">
                    <img src="~/Images/頁面分割線.png" alt="" class="w-100">
                </div>
                <!-- 現場注意事項 -->
                <div class="col-9">
                    <img src="~/Images/頁面小標_現場注意事項.png" alt="" class="w-50">
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                </div>
                <div class="col-9 ">
                    <ol class="ms-4" style="font-size:14px ; color:white">
                        <li>演出全長約 100 分鐘​，沒有中場休息。遲到觀眾須於主辦單位安排之時間點，在工作人員的引導之下入場，不得異議。</li>
                        <br>
                        <li>未經主辦單位同意，場內禁止錄影、錄音、拍照、限時動態。</li>
                        <br>
                        <li>主辦單位未公開節目內容前，需對活動內容完全保密。</li>
                        <br>
                        <li>場內禁止飲食、飲水。</li>
                        <br>
                        <li>本演出內容無尺度限制。禁止 16 歲以下觀眾入場，未成年觀眾建議由成年人陪同觀賞。</li>
                        <br>
                        <li>本演出為錄影場，入場即代表您同意個人肖像權可作為薩泰爾娛樂股份有限公司 -【 炎上 BURN 】使用。</li>
                        <br>
                        <li>本演出為現場錄影，攝影機架設、移動尊重現場導播指示，如有部分阻擋視線敬請見諒。</li>
                        <br>
                        <li>購票前請詳閱注意事項，一旦購票成功視為同意所有活動注意事項。</li>
                        <br>
                        <li>🤖️ 演出相關問題，讓 STRBOT 替你解惑 ➪ https://str.network/omoI6</li>
                        <br>
                        <li>🎫 票券相關疑問，寄信至：「ticket@strnetwork.cc」</li>
                    </ol>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                </div>
                <!-- 分隔線 -->
                <div class="col-9  text-center">
                    <img src="~/Images/頁面分割線.png" alt="" class="w-100">
                </div>
                <!-- 現場防疫事項 -->
                <div class="col-9">
                    <img src="~/Images/頁面小標_現場防疫事項.png" alt="" class="w-50">
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                </div>
                <div class="col-9 ">
                    <ol class="ms-4" style="font-size:14px ; color:white">
                        <li>觀賞演出時全程配戴口罩，無法配合者將婉拒入場，若因此無法入場，恕不受理退票。​</li>
                        <br>
                        <li>因應衛福部(2022/11/03)公告「居家照護確診者於隔離及自主健康管理期間不得參加群聚性活動」。</li>
                        <br>
                        <li>場館出入口備有消毒酒精供觀眾使用。​</li>
                    </ol>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                    <p class="ms-3" style="color: rgb(231, 30, 27); font-size: 12px; font-weight: 700;">&nbsp;</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-9">
                    <div class="row d-flex">
                        <div class="col-8 p-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.1432220510374!2d121.57656931500675!3d25.063134383958804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab80e8aef2d7%3A0x4a61cd89e4cbbec8!2z5aO56Zu76KaW5aSn5qiT!5e0!3m2!1szh-TW!2stw!4v1672066794149!5m2!1szh-TW!2stw" width="100%" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col-4 p-0">
                            <p class="  h-50 mb-0 p-3" style="background-color: rgb(129, 191, 50);color: white;">
                                壹電視攝影棚
                                / 臺北市內湖區新湖二路146巷18號
                            </p>
                            <p class="  h-50 mb-0 p-3 p_button_hover"
                               style="background-color: rgb(129, 191, 50);position: relative;">
                                <button style="position:absolute;bottom: 15%;right: 47%;padding: 5px; border: 0;">
                                    規劃路線
                                </button>
                                <button style="position:absolute;bottom: 15%;right: 7%;padding: 5px; border: 0;">
                                    檢視較大的地圖
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-9 bg-white p-5">
                    <h3 class=" mb-5 " style="font-size:23px; font-weight:700">活動票券</h3>
                    <table class="w-100 mb-3">
                        <thead>
                            <tr>
                                <th>
                                    <p>票種</p>
                                </th>
                                <th>
                                    <p>販售時間</p>
                                </th>
                                <th style="text-align: right;">
                                    <p>售價</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom" style="padding: 100px;">
                                <td style="width: 15%;">
                                    <p>圓桌</p>
                                </td>
                                <td>
                                    <p>2022/12/21 12:00(+0800) ~ 2023/01/07 20:00(+0800)</p>
                                </td>
                                <td style="text-align: right;">
                                    <p>TWD$4,000</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="mt-3">綠</p>
                                </td>
                                <td>
                                    <p class="mt-3">2022/12/21 12:00(+0800) ~ 2023/01/07 20:00(+0800)</p>
                                </td>
                                <td style="text-align: right;">
                                    <p class="mt-3">TWD$2,800</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <form method="post" action="~/FrontCode/Buy">
                        <div class="w-100 d-flex justify-content-center">
                            <div class="col-2 text-white top3 text-center"
                                 style="line-height: 56px;font-size: 20px; font-weight: 700; background-color: rgb(129, 191, 50); box-shadow: #59ab21 0 -4px 0 inset;">
                                @*<p>
                                @foreach (var item in Model)
                                {

                                <button> @Html.ActionLink("下一步", "Buy", "FrontCode", new { id = item.id }, new { @class = "btn" })</button>

                                }
                                </p>*@
                                <input type="submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>





    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>*@
</body>

</html>

